.bannergr{
	background-color: $orange;
	opacity: .9;
	color: white;
	padding: .5em 0em .5em 1em;

}


.grbg{
	background-image: url(../../images/grbg.jpg);
	width: 100%;
	height: 100%;
	padding: 10em 0em 1em 0em;
	
}

.topPadding{
	padding: 1em 0 0em 0;
}