
.header{
	margin-top: 110px;
	width: 100%;
	position: relative;
	z-index: -1;
	
}

.header img {
	width: 100%;
}
.bannergr{
	background-color: $orange;
	opacity: .9;
	color: white;
	padding: .5em 0em .5em 1em;

}

.sections{
	margin: 0 0 5em 0;
}
.topSections{
	margin: 7em 0 0 0;
}

.grbg{
	background-image: image-url("grbg.jpg");
	width: 100%;
	height: 100%;
	padding: 10em 0em 1em 0em;
}


.topPadding{
	padding: 2em 0 0em 0;
}

.founder{
	border-bottom: $orange solid 1px;
	color: $orange;
	padding-bottom: 1em;
	margin-bottom: 20px;
	font-style: italic;
	width: 400px;
}

.white{
	color: white;
	font-size: .8em
}

.contact{
	color: $brown;
	padding-bottom: 10px
	
}

.contactInfo{
	background-color: $orange;
	padding: 20px 0 10px 20px;

	
}

.mj{
	margin-left: 10px;
}

.bannergip{
	background-color: $brown;
	opacity: .9;
	color: white;
	padding: .5em 0em .5em 1em;
	
}
.gamelanPortlandbg{
	background-image: image-url("gamelanPortlandbg.png");
	width: 100%;
	height: 100%;
	padding: 10em 0em 1em 0em;
	margin: 0 0 0 -10px;
}

.bannergtm{
	background-color: $red;
	opacity: .9;
	color: white;
	padding: .5em 0em .5em 1em;
	
}
.gamelanMusicbg{
	background-image: image-url("gamelanMusicbg.png");
	width: 100%;
	height: 100%;
	padding: 10em 0em 1em 0em;
	margin: 0 0 0 -10px;
}

.fancyThumbWidth{
	width: 200px;
	height: 125px;
}
.fancybox{
	display: inline-block;
	text-align: center;
}


.videoGalleryWrapper{
	margin: 0 auto;
	padding: 3em 0 4em 0;
	
}











