/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

.nav{
	background-color: white;
	opacity: .9;
	position: fixed;
	z-index: 1;
	width: 100%;
	padding: 1.5em 0 0 0;
	top:0;
	left: 0;
	text-align: center;
	height: 80px;
	

}

.navPages{
	position: absolute;
	left: 20px;

}
.logoTop{
	width: 45px;
	margin: 0 4em 0 -22.5px;
	vertical-align: top;
	position: absolute;
	left: 50%;
	
}
li
{
	display:inline-block;	
}

ul li a{
	text-decoration: none;
	list-style: none;
	padding: 0 1em 0em 0;
	vertical-align: top;
}

a:hover{
	text-decoration: underline;

}

ul {
	display: inline-block;
}

a.gi{
	color: $orange;
}

a.a{
	color: $red;
}

a.c{
	color: $brown;
}

a.outSource{
	color: $orange;
	border: $orange 2px solid;
	padding: .5em .9em .5em .9em;

}

.extraSpace{
	margin-right: 10px;
}

.navAction{
	position: absolute;
	right: 20px;
}


/* #Page Styles
================================================== */


h1{
	text-align: center;
	font-size: 6.25em;
	margin: 142px 0 .5em 0;
	color: $brown;
	
}

h2 {
	text-align: center;
	font-size: 2.38em;
	color: $orange;
}

h3 {
	font-size: 1.88em;
	font-weight: 300;
	color: $orange;
	
	
	
}
h4{
	font-size: 2.2em;
	font-weight: 700;
	color: $white;
}

h5 {
	text-align: center;
	font-size: 1.5em;
	line-height: 2em;
	color: $brown;
	
}
h6{
	font-size: 1.25em;
	font-weight: 300;
	color: $orange;
}


p{
	font-size: .9em;
	color: $brown;
}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/