@media only screen
and (max-width : 1224px) {

	#menu {
		display:none;
		margin: -20px 0 0 0;
	}
	
	.slicknav_menu {
		display:none;
	}
}

@media only screen and (max-width : 1224px) {

.navButton {
		min-width: 130px;
	}
	
.navButton p{	
		font-size: 1.3em;
	}	


.homeNavBox {
		min-width: 200px;
	}

.homeNavBox p{
		font-size: 1.3em;
	}
	
	
	
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {

	.homeNavBox {
		display:inline-block;
		width:30%;
		min-width:33%;
		margin:0;
		text-align:center;
		vertical-align:top;
		padding:2em 0 1em;
	}
	
	.callToAction {
		position:absolute;
		top:100px;
		right:0;
		width:56%;
		display:inline;
	}
	
	.navButton p {
		font-size:1.2em;
		color:#f7eee8;
		text-transform:uppercase;
	}
	
	.logo {
		width:34%;
		margin:2em 0 0 1em;
		position:absolute;
		top:15%;
		left:5%;
	}
	
	.missionStatement {
		position:absolute;
		top:55%;
		right:30px;
		width:50%;
	}
	
	.homeNav {
		width:100%;
		position:absolute;
		bottom:0;
		right:0;
		left:0;
		top: 0;
		min-width: 800px
	}
	
	.homeNavBox p {
		font-size:1.3em;
	}
	
	h1 {
		font-size:4em;
	}
	
	h2 {
		font-size:2em;
	}
	
	h3 {
		font-size:1.6em;
	}
	
	h5 {
		font-size:1.2em;
	}
	
	h6 {
		font-size:1em;
	}
	
	.info {
		width:350px;
	}
	
	footer p {
		margin:0 1em 0 0;
	}
	
	.overlay1,.overlay2 {
		padding:14em 0 4em;
		margin-bottom:15px;
	}
	
	.info {
		height: 300px;
	}
	
	.eventtitle {
		width:325px;
	}
	
	.founder {
		width:370px;
	}
	.mj {
		width: 100%;
	}
	
}
@media only screen
and (max-width : 767px) {
	
	.nav{
		display: none;
	}

	#menu {
		display:none;
	}
	
	.slicknav_menu {
		display:block;
	}
}

@media only screen
and (min-width : 677px)
and (max-width : 767px) {
	.header{
		margin-top: 0px;
	}

	
	.homeNavBox {
		display:inline-block;
		width:30%;
		min-width:33%;
		margin:0;
		text-align:center;
		vertical-align:top;
		padding:2em 0 1em;
	}
	
	.callToAction {
		position:absolute;
		top:100px;
		right:0;
		width:56%;
		display:inline;
	}
	
	.navButton p {
		font-size:1.2em;
		color:#f7eee8;
		text-transform:uppercase;
	}
	
	.logo {
		width:34%;
		margin:2em 0 0 1em;
		position:absolute;
		top:15%;
		left:5%;
	}
	
	.missionStatement {
		position:absolute;
		top:55%;
		right:30px;
		width:50%;
	}
	
	.homeNav {
		width:100%;
		position:absolute;
		bottom:0;
		right:0;
		left:0;
		top: 0;
		min-width: 800px
	}
	
	.homeNavBox p {
		font-size:1.3em;
	}
	
	
	.logoTop {
		margin:0 4em 0 22px;
		left:0;
	}
	
	.navPages {
		right:277px;
		top:40px;
	}
	
	.navAction {
		bottom:16px;
		right:28px;
	}
	
	h1 {
		font-size:4em;
	}
	
	h2 {
		font-size:2em;
	}
	
	h3 {
		font-size:1.6em;
	}
	
	h5 {
		font-size:1.2em;
	}
	
	h6 {
		font-size:1em;
	}
	
	.contactInfoForm{
		width:320px;
	}
	
	.contactInfoForm input[type=text]{
		display:block;
		width:100%;
		margin:0 0 .5em 0;
	}
	
	.contactInfoForm .formName{
		display:block;
		width:100%;
		margin:0 0 .5em 0;
	}
	
	.contactInfoForm .purposeRadio{
		display:block;
		margin:0 0 .5em 0;
		max-width:333px;
		width:100%;
		height:auto;
	}
	
	.contactInfoForm textarea{
		width:100%;
		max-width:333px;
	}
	
	.contactInfoForm input[type=submit]{
		width:32%;
	}	
	
	.container{
		width: 100%;
		padding: 0 2em;
		margin: 0;
	}
	
	.info {
		height: 300px;
	}
	
}

@media only screen 
and (min-width : 320px) 
and (max-width : 676px) {
	
	
	
	.header{
		margin-top: 0px;
	}

	.container{
		width: 100%;
		
	}

	h3 {
		font-size:1.5em;
	}
	
	.bannergr {
		padding:.5em 0;
	}
	
	.logoTop {
		margin:0 4em 0 22px;
		left:0;
	}
	
	.navPages {
		right:-63px;
		top:17px;
	}
	
	.navAction {
		bottom:-6px;
		right:18px;
	}
	
	h5 {
		font-size:.8em;
	}
	
	h6 {
		font-size:1em;
	}
	
	.moredetail {
		width:90%;
	}
	
	footer p {
	
		display: block;
		margin: 0 4em;
	}
	
	.signUp input {
		width:75%;
	}
	
	input[type=submit] {
		width:25%;
		padding: 0.7em 0 0.7em 0;
	}
	
	.signUp {
		padding:3em 0 1em;
		height:360px;
	}
	
	.containerInfoForminput {
		width:100%;
	}
	
	h1 {
		font-size:3em;
		margin-top:50px;
	}
	
	h2 {
		font-size:2em;
	}
	
	h3 {
		font-size:1.6em;
		text-align:center;
	}
	
	.bannergr {
		padding:.5em 0;
	}
	
	h5 {
		font-size:.8em;
	}
	
	h6 {
		font-size:1em;
	}
	
	.homeNavBox {
		display:inline-block;
		width:100%;
		margin:0;
		text-align:center;
		vertical-align:top;
		padding:1em 0 0;
	}
	
	.callToAction {
		position:absolute;
		bottom:170px;
		width:100%;
		display:inline;
	}
	
	.navButton p {
		font-size:1em;
		color:#f7eee8;
		text-transform:uppercase;
	}
	
	.logo {
		width:40%;
		margin: 0 auto;
		}
		
	.logo img {
		width: 100%;
		padding-top: 1em;
	}
	
	.missionStatement {
		display: none;
	}
	
	.homeNav {
		width:100%;
		position:absolute;
		bottom:0;
		right:0;
		left:0;
	}
	
	.homeNavBox p {
		font-size:1em;
	}
	
	.info {
		width: 90%;	
		height: 300px;

	}
	
	.info h3{
		text-align: left;
	}
	
	.overlay1, .overlay2 {
		padding: 10em 0em 4em 0em;
		margin-bottom: 1em;
	}
	
	.givefeedback {
		width: 100%;
	}
	
	.eventtitle {
		width: 265px;
	}
	
	.contactInfoForm{
		width:320px;
	}
	
	.contactInfoForm input[type=text]{
		display:block;
		width:100%;
		margin:0 0 .5em 0;
	}
	
	.contactInfoForm .formName{
		display:block;
		width:100%;
		margin:0 0 .5em 0;
	}
	
	.contactInfoForm .purposeRadio{
		display:block;
		margin:0 0 .5em 0;
		max-width:333px;
		width:100%;
		height:auto;
	}
	
	.contactInfoForm textarea{
		width:100%;
		max-width:333px;
	}
	
	.contactInfoForm input[type=submit]{
		width:32%;
	}	


	.conduct{
		padding-top: 0px;
		margin-top:0px;
	}

	.conductMobile{
		margin-bottom: 0px;
	}
	.founder{
		text-align: center;
		width: 100%;
	}

	.mj{
		width: 100%;
		margin-left: 0px;
	}


	.gamelanPortlandbg{
		margin: 0px;
		width: 100%;
	}
	
	
	.bannergip{
		text-align: center;
		margin: 0;
		padding:  .5em 0em .5em 0em; 
	}
	
	
	.videoGalleryWrapper img{
		max-width: 300px;	
	}
	
	
	.atopPadding{
		padding-top: 0px;
	}
	
	.bannergtm{
		text-align: center;
		margin: 0;
		padding:  .5em 0em .5em 0em; 
	}
	
	
	.gamelanMusicbg{
		margin: 0px;
		width: 100%;
	}
}