@media only screen 
and (max-width : 1224px) {


}

@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {

.homeNavBox {
display: inline-block;
width: 30%;
min-width: 100%;
margin: 0;
text-align: center;
vertical-align: top;
padding: 2em 0 1em 0;
}

.callToAction {
	position: absolute;
	top: 15px;
	right: 0px;
	width: 56%;
	display: inline;
	}
	
.navButton p {
	font-size: 1.2em;
	color: #f7eee8;
	text-transform: uppercase;
	}
	
.logo {
	width: 40%;
	margin: 2em 0 0 1em;
}

.missionStatement {
position: absolute;
top: 30%;
right: 50px;
width: 50%;
text-align: right;
}

.homeNav {
width: 100%;
position: absolute;
bottom: 0;
right: 0;
left: 0;
}
 
.homeNavBox p {
font-size: 1.5em;
} 
 
}

@media only screen 
and (min-width : 768px) 
and (max-width : 1024px)
and (orientation : landscape){

.callToAction{
	position: absolute;
	top: 30px;
	right: -80px;
	width: 30%;
 }
 footer p{
	 margin: 0 1em 0 0;
 }

.missionStatement {
position: absolute;
top: 25%;
right: 16px;
width: 50%;
text-align: right;
}

}

@media only screen
and (min-width : 480px)
and (max-width : 767px){


}

@media only screen 
and (min-width : 320px) 
and (max-width : 479px) {


}