---
title: About
---

<div class="header"></div>

		<h1>About</h1>

<section>
	
	<h5>Gamelan Rakyat is a non-profit dedicated to the network of the gamelan community in Portland, Oregon.</h5>

<img src=""/>

<h3>Gamelan Rakyat</h3>

	<div class="eight columns alpha">
	<p>Fostering artistic exchanges between Java and the Portland community through residencies, workshops, and performances by studying and playing Javanese gamelan music and sharing the richness of this exchange with diverse audiences in the Northwest. Gamelan Rakyat believes we can use the creation of music to strengthen self-esteem and a sense of meaning as well as create community and connection regardless of education or music  background that can influence other positive life choices.</p>
	</div>
		<div class="eight columns omega">
		<p>
 An important component of Gamelan Rakyat’s work is to conduct workshops in prisons, schools and other community settings to empower positive life change and foster life skills by working collaboratively to create beautiful music.Gamelan Rakyat produces events and performances of the student and community based ensemble Venerable Showers of Beauty Gamelan based at Lewis & Clark College and conducts community workshops to groups or individuals interested in collaboration, connection and having fun by learning the gamelan tradition.</p>
	</div>

<h2>Mindy Johnston</h2>

	<h6>Founder</h6>
	
		<p>Mindy Johnston has directed the Venerable Showers of Beauty Gamelan at Lewis & Clark College since 2007 and has played in the ensemble since 1993, producing dozens of concerts in the Northwest and bringing world renowned guest artists from Java to perform with the ensemble. After discovering gamelan as a student at Lewis & Clark College, Mindy was awarded the Dharmasiswa scholarship in 1998-99 and 2004-05 to study traditional Javanese music at Institut Seni Indonesia (ISI), the arts university in Solo, Java. Mindy has an MS in Conflict Resolution from Portland State University (2010) with a focus on music and activism.  Before going to graduate school, Mindy worked for many years with “at-risk” adolescents in a residential treatment program coordinating treatment services and working as a liaison with community partners.  Mindy worked as the program coordinator for the African Diaspora Dialogue Project bringing conflicting communities together in dialogue with the aim of reconciliation and healing, and is a facilitator and board member for the Insight Development Group, doing restorative justice groups at youth and adult correctional facilities. Most recently, she established a community based Crime Victim Advocacy Program with Lutheran Community Services NW in Vancouver and has started teaching gamelan classes at Portland State University.  Mindy hopes to start a regular children’s gamelan ensemble, as well as offer gamelan workshops in prisons, schools and other community settings in the Portland area. </p>
		
		<h6>Phone</h6>
			<h6 class="contact">503.000.0000</h6>
			
		<h6>Email</h6>
			<h6 class="contact">gamelan.rakyat@gmail.com</h6>
</section>


<section>

<img src="" alt=""/>
	<h3>Gamelan in Portland</h3>

		<p>Portland’s first gamelan, the Venerable Showers of Beauty (VSB) (known as Kyai Guntur Sari in Javanese) was brought to Lewis & Clark College by Vincent McDermott (Lewis & Clark faculty ethnomusicologist and composer from 1977-1997) in 1980 due to a generous donation and support of Loraine C. Fenwick.  The Venerable Showers of Beauty Gamelan originated in a village near Semarang, Central Java, Indonesia in approximately 1880.  It was made for and used by a wealthy Chinese Indonesian family. Since 1980, the Venerable Showers of Beauty has performed at hundreds of events and performances around the Northwest. In 2014, Portland has been fortunate to add a gamelan to Portland State University’s School of Music, by a generous donation of Maryland based composer, Robert Macht. </p>
</section>

<section>	

<h3>Gamelan the Music</h3>
	<img src="" alt=""/>
		<p>A gamelan is an orchestra made up of a set of instruments from Java and Bali, Indonesia. In learning gamelan music, unlike western orchestral music, a musician will learn more than just one instrument. In order to understand gamelan, it is necessary to know what each instrument provides to the whole. During the performance, you will see us moving around and switching instruments. The instruments in the gamelan can be separated into four distinct categories, each serving a different function in the music. The first is the balungan. This group plays the main melody, usually playing on the beat in a steady pattern. The next set of instruments is the elaborating instruments. These instruments take the main melody and enhance it with patterns (cengkok) based on the notes played by the balungan. The next group is called the accentuating instruments. Instead of elaborating on the melody, these serve to punctuate the music, playing on certain beats or at the end of a piece or a phrase (listen for the big gong). The last group of instruments are the drums, called the kendhang, ciblon and ketipung, depending on the size. These instruments act as a conductor would in an orchestra, regulating the tempo by controlling beginnings, transitions and endings. And of course, as in anything, there are always exceptions to these rules.</p>
	
<h2>Video Gallery</h2>	
</section>	
	
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
 <!-- .doc -->
</div><!-- .welcome -->

