<!-- banner goes here!-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html>
<head>
    <title></title>
</head>

<div class="header">
<%= image_tag 'contact_bg.jpg', :alt => 'contact_bg'%>
</div>

<body>
    <div class="container">
        <div class="sixteen columns">
            <h1>Contact</h1>

            <h5>We would love to hear from you</h5>
        </div>
        
        <form id="form1" class="wufoo topLabel page contactInfoForm" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate="" action="https://gamelanrakyat.wufoo.com/forms/z108qnzv0a1dr2h/#public">
            <ul>
                <li id="foli3" class="notranslate      ">
                    <label class="desc" id="title3" for="Field3"></label>

                    <div>
                        <input id="Field3" name="Field3" type="text" class="field formName" placeholder="name" maxlength="255" tabindex="1" onkeyup="">
                    </div>
                </li>

                <li id="foli4" class="notranslate      ">
                    <label class="desc" id="title4" for="Field4"></label>

                    <div>
                        <input id="Field4" name="Field4" type="text" class="field formEmail" placeholder="email" maxlength="255" tabindex="2" onkeyup="">
                    </div>
                </li>

                <li id="foli1" class="notranslate      ">
                    <fieldset>
                        <![if !IE | (gte IE 8)]><legend id="title1" class="desc"></legend> <![endif]> <!--[if lt IE 8]>
<label id="title1" class="desc">
</label>
<![endif]-->

                        <div class="purposeRadio">
                            <input id="radioDefault_1" name="Field1" type="hidden" value=""> <span><input id="Field1_0" name="Field1" type="radio" class="field radio radioButton" value="Workshop" tabindex="3" checked="checked"> <label class="choice" for="Field1_0">Workshop</label></span> <span><input id="Field1_1" name="Field1" type="radio" class="field radio radioButton" value="Founder" tabindex="4"> <label class="choice" for="Field1_1">Founder</label></span> <span><input id="Field1_2" name="Field1" type="radio" class="field radio radioButton" value="Feedback" tabindex="5"> <label class="choice" for="Field1_2">Feedback</label></span> <span><input id="Field1_3" name="Field1" type="radio" class="field radio radioButton" value="Other" tabindex="6"> <label class="choice" for="Field1_3">Other</label></span>
                        </div>
                    </fieldset>
                </li>

                <li id="foli5" class="notranslate      ">
                    <label class="desc" id="title5" for="Field5"></label>

                    <div>
                        <textarea id="Field5" name="Field5" class="field textarea medium formTextfield dearGamelan" spellcheck="true" rows="10" cols="50" tabindex="7" onkeyup="" placeholder="Dear.Gamelan Rakyat...">
</textarea>
                    </div>
                </li>

                <li class="buttons ">
                    <div>
                        <input id="saveForm" name="saveForm" class="btTxt submit" type="submit" value="Submit">
                    </div>
                </li>

                <li class="hide"><!-- <label for="comment">Do Not Fill This Out</label>  --><!-- <textarea name="comment" id="comment" rows="1" cols="1"></textarea> -->
                <input type="hidden" id="idstamp" name="idstamp" value="6CshTKzaIPsbjACd2NoqwDDWMxMge6OoL7I0XqoEKuo="></li>
            </ul>
        </form>
          </div>

</body>
</html>
