<!-- banner goes here!-->


 <div class="container">

    <div class="sixteen columns">

<div class="header">
</div>

<h1>Contact</h1>
<h5>We would love to hear from you</h5>

<form class="contactInfoForm" action="thanks.html">
	<input type="text" placeholder="name" name="Name">
	<input type="text" placeholder="email" name="Email">
	<div class="purposeRadio">
		<input type="radio" name="purpose" value="workshop">Workshop<br>
		<input type="radio" name="purpose" value="funderSupporter">Funder/Supporter<br>
		<input type="radio" name="purpose" value="feedback">Feedback<br>
		<input type="radio" name="purpose" value="other">Other<br>
	</div>
	<textarea class="dearGamelan" type="textfield" placeholder="Dear.Gamelan Rakyat..."></textarea>
	<input type="submit" value"send">
	
</form>

