<div class="getinvolved">

<div class="header">
</div>


<h1>Get Involeved</h1>
	<h5>There are many ways to become apart of the community</h5>


<h2>Check out upcoming events</h2>

		<div class="">
			<img src="" alt="">
			<h6>Performance</h6>
			<h4>Title of the performance</h4>
			<h6>Location</h6>
			<h6>date|time</h6>
		</div>
		
		<div class="">
			<img src="" alt="">
			<h6>Workshop</h6>
			<h4>Title of the workshop</h4>
			<h6>Location</h6>
			<h6>date|time</h6>
		</div>
		
		<p>To see a full calendar of our concerts, workshops, and other ways to get involved, click events.</p>


		//button//



<h2>Make a difference in our community</h2>

		<div class="">
		<img src="" alt="">
		<h3>Host A Workshop</h3>
		<p>If you work with prisoners, patients in secure hospitals, with ex-prisoners, school groups and others in the community, why not host a gamelan workshop? Workshops can be catered to meet your group's needs and can meet once or can happen on an ongoing basis. Gamelan can provide a positive experience learning a wonderful musical tradition while also developing team-working skills, communication skills and can positively impact self-esteem.</p>
		</div>
		
		<div class="">
		<img src="" alt="">
		<h3>Donate</h3>
		<p>Your tax-deductible contribution helps immensely in supporting us in bringing some of Java's finest performing artists to Portland. It also helps support educational outreach programs in our community, and the continued presentation of Javanese performing arts in the Portland area.</p>
		</div>
		
		<h3>Feedback</h3>
		<h6>We would love to hear from you</h6>
		<p>Please get in touch if you are interested in bringing Gamelan Rakyat to your community. If you would like to know more about the work of the organization, tell us about your Gamelan Rakyat experience or would like to talk about getting involved or becoming a funder, we would love to hear from you.</p>
	
	
		//button//
		
</div>