---
title: Welcome to Middleman
---


	<div class="callToAction">
				
	</div>

	<div class="logo">
		<img src="logo.svg">
	</div>

	<div class="missionStatement">
		<p>Dedicated to enriching the community’s artistic culture by supporting, promoting and facilitating workshops and performance using the gamelan tradition.
		<p class="name">-Mindy Johnston<span>Founder</span></p>	
	</div>
	
	<div class="homeNav">
		<div class="navGetInvolved">
			<p>Get Involved</p>
		</div>

		<div class="">
			<p>Get Involved</p>
		</div>

		<div class="">
			<p>Get Involved</p>
		</div>
 		
	</div>

 