---
title: Welcome to Middleman
---
<html>

  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,300' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag  "all" %>
    <%= javascript_include_tag  "all" %>
  </head>

<body class="home">
	<div class="callToAction">
		<a href="">
		<div class="homeDonate navButton">
			<p>Donate</p>
		</div>
		</a>
		
		<a href="">
		<div class="homeEvents navButton">
			<p>Events</p>
		</div>
		</a>
				
	</div>

	<div class="logo">
		<%= image_tag 'logo2.png', :alt => 'logo'%></div>
	</div>

	<div class="missionStatement">
		<p>Through sharing in the magic of music-making, Gamelan Rakyat creates a community of collaboration, celebration, and cultural preservation in the Pacific Northwest.
		<p class="name">-Mindy Johnston <span>Founder</span></p>	
	</div>
	
	<div class="homeNav">

		<a href="getinvolved.html">		
		<div class="homeGetInvolved homeNavBox" style="background-color:rgba(112,63,34,.9)">
			<p>Get Involved</p>
		</div>
		</a>
		
		<a href="about.html">
		<div class="homeAbout homeNavBox" style="background-color:rgba(201,71,44,.9)">
			<p>About</p>
		</div>
		</a>

		<a href="contact.html">
		<div class="homeContact homeNavBox" style="background-color:rgba(245,151,32,.9)">
			<p>Contact</p>
		</div>
		</a>
		
	</div>

</body>
</html>